$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$decorate-font: 'Kaushan Script', sans-serif;
$nav-color: rgb(255, 255, 255);
$nav-hover-color: rgb(252, 227, 138);
$main-font-color: rgb(51, 51, 51);
$second-font-color: rgb(153, 153, 153);
$section-color: rgb(243, 129, 129);
$decorate-color: rgb(149, 225, 211);
$footer-color: rgba(153, 153, 153, 0.5);
